/* .anuncios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
/*   display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(4, 400px);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  font-size: 18px;
} */
 */