footer {
  background-color: rgba(20, 226, 226, 0.144);
}
.footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}

.footer .footer-text ul {
  list-style: none;
  font-size: 22px;
}

.footer .footer-links {
  display: flex;
  flex-direction: column;
}

.dev {
  text-align: center;
}

@media (max-width: 600px) {
  .footer .footer-text ul {
    list-style: none;
    font-size: 15px;
  }
}
